.Header-body {
  background-image: url("./beauty.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.Header-head {
  font-size: 60px;
  margin-left: 30px;
  color: #fff;
  margin-top: 100px;
  font-family: "Times New Roman", Times, serif;
}

.Header-head span {
  color: #b30;
}

.Header-body p {
  color: #fff;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  margin-left: 30px;
  padding: 5px;
}

.Header-body p:nth-child(even) {
  width: 30%;
  opacity: 0.6;
  line-height: 30px;
}

.Header-body button {
  padding: 18px;
  width: 15%;
  text-align: center;
  font-size: 22px;
  margin-left: 20px;
  border: none;
  background-color: #b30;
  cursor: pointer;
  transition: 0.5s;
  color: #fff;
  border-radius: 5px;
}

.Header-body button:hover {
  background-color: #000;
  color: #fff;
}
@media (max-width: 768px) {
  .Header-body {
    background-image: url("./beauty.jfif");
    background-size: cover;
    background-position: center;
    background-origin: 120px;
    height: 750px;
    width: 100%;
  }
  .Header-head {
    font-size: 48px;
    margin-left: 30px;
    color: #fff;
    margin-top: 100px;
    font-family: "Times New Roman", Times, serif;
  }
  .Header-body p {
    color: #fff;
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 800;
    margin-left: 10px;
    width: 90%;
  }
  .Header-body p:nth-child(even) {
    width: 85%;
    opacity: 0.7;
    line-height: 25px;
  }
  .Header-body button {
    padding: 18px;
    width: 150px;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    margin-left: 20px;
    border: none;
    background-color: #b30;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
    border-radius: 5px;
  }
}
